In [72]:
import pandas as pd
import numpy as np

In [73]:
base = pd.read_csv('carpetas_completa_septiembre_2021.csv')

C:\Users\gasto\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

### Pruebas para identificar la calidad de los datos

1. Ver como están los datos mirando su encabezado y los últimos datos

In [74]:
base.head()

,ao_hechos,mes_hechos,fecha_hechos,ao_inicio,mes_inicio,fecha_inicio,delito,fiscalia,agencia,unidad_investigacion,categoria_delito,calle_hechos,calle_hechos2,colonia_hechos,alcaldia_hechos,competencia,longitud,latitud,tempo
0,2016.0,Enero,2016-01-31 22:16:00,2016,Febrero,2016-02-01 00:25:44,DAÑO EN PROPIEDAD AJENA INTENCIONAL,INVESTIGACIÓN EN BENITO JUÁREZ,BJ-2,UI-3CD,DELITO DE BAJO IMPACTO,CALZ. DE TLALPAN,LAGO PTE.,AMÉRICAS UNIDAS,BENITO JUAREZ,NaN,-99.140215,19.380315,NaN
1,2016.0,Enero,2016-01-31 20:50:00,2016,Febrero,2016-02-01 00:52:37,ROBO DE VEHICULO DE SERVICIO PARTICULAR CON VI...,INVESTIGACIÓN PARA LA ATENCIÓN DEL DELITO DE R...,ORIENTEII,UI-3CD,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,SUR 25 A,GRANJEROS,LOS CIPRESES,IZTAPALAPA,NaN,-99.108403,19.352859,NaN
2,2016.0,Febrero,2016-02-01 00:30:00,2016,Febrero,2016-02-01 01:33:26,NARCOMENUDEO POSESION SIMPLE,"INVESTIGACIÓN PARA LA ATENCIÓN DE NIÑOS, NIÑAS...",57,UI-3CD,DELITO DE BAJO IMPACTO,BATALLONES ROJOS,NaN,UNIDAD VICENTE GUERRERO,IZTAPALAPA,NaN,-99.061321,19.356451,NaN
3,2016.0,Enero,2016-01-31 22:00:00,2016,Febrero,2016-02-01 02:09:11,ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA,INVESTIGACIÓN EN IZTAPALAPA,IZP-6,UI-3CD,ROBO A TRANSEUNTE EN VÍA PÚBLICA CON Y SIN VIO...,GERANIO,GAVILLEROS,EMILIANO ZAPATA,IZTAPALAPA,NaN,-98.976379,19.331633,NaN
4,2015.0,Diciembre,2015-12-25 12:00:00,2016,Febrero,2016-02-01 02:16:49,DENUNCIA DE HECHOS,INVESTIGACIÓN EN BENITO JUÁREZ,BJ-1,UI-3SD,HECHO NO DELICTIVO,SAN FRANCISCO,AVENIDA COLONIA DEL VALLE,DEL VALLE CENTRO,BENITO JUAREZ,NaN,-99.172189,19.387114,NaN

In [75]:
base.tail()

,ao_hechos,mes_hechos,fecha_hechos,ao_inicio,mes_inicio,fecha_inicio,delito,fiscalia,agencia,unidad_investigacion,categoria_delito,calle_hechos,calle_hechos2,colonia_hechos,alcaldia_hechos,competencia,longitud,latitud,tempo
1307206,2021.0,Septiembre,2021-09-21 18:40:00,2021,Septiembre,2021-09-30 23:52:40,DDH OTRAS MATERIAS,FISCALÍA DE INVESTIGACIÓN TERRITORIAL EN COYOACÁN,COY-4,UI-2SD,HECHO NO DELICTIVO,AVENIDA TENERIA,"MUNICIPIO DE TEXCOCO, ESTADO DE MEXICO",NaN,TEXCOCO,HECHO NO DELICTIVO,NaN,NaN,NaN
1307207,2021.0,Septiembre,2021-09-30 22:50:00,2021,Septiembre,2021-09-30 23:52:48,ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA,FISCALÍA DE INVESTIGACIÓN TERRITORIAL EN COYOACÁN,COY-1,UI-2CD,ROBO A TRANSEUNTE EN VÍA PÚBLICA CON Y SIN VIO...,CANAL NACIONAL,GUERRERO,SAN FRANCISCO CULHUACAN,COYOACAN,FUERO COMUN,-99.114591,19.340434,NaN
1307208,2021.0,Septiembre,2021-09-07 20:47:00,2021,Septiembre,2021-09-30 23:54:06,DAÑO EN PROPIEDAD AJENA CULPOSA,FISCALÍA DE INVESTIGACIÓN TERRITORIAL EN IZTAP...,IZP-6,UI-2CD,DELITO DE BAJO IMPACTO,CALZADA IGNACIO ZARAGOZA,NaN,AREA FEDERAL PARQUE ECOLOGICO EL SALADO,IZTAPALAPA,FUERO COMUN,-99.009789,19.368632,NaN
1307209,2021.0,Septiembre,2021-09-03 17:10:00,2021,Septiembre,2021-09-30 23:54:18,ROBO A REPARTIDOR CON VIOLENCIA,FISCALÍA DE INVESTIGACIÓN TERRITORIAL EN GUSTA...,UAT-GAM-2,UI-1SD,ROBO A REPARTIDOR CON Y SIN VIOLENCIA,ZACAPOAXTLA,NaN,SAN FELIPE DE JESÚS,GUSTAVO A MADERO,FUERO COMUN,-99.069949,19.491604,NaN
1307210,2021.0,Septiembre,2021-09-30 23:20:00,2021,Septiembre,2021-09-30 23:54:45,ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA,FISCALÍA DE INVESTIGACIÓN TERRITORIAL EN AZCAP...,AZ-2,UI-2CD,ROBO A TRANSEUNTE EN VÍA PÚBLICA CON Y SIN VIO...,CALZADA SANTIAGO AHUIZOTLA,MORELOS,SANTIAGO AHUIZOTLA,AZCAPOTZALCO,FUERO COMUN,-99.209475,19.476235,NaN

2. Mirar el tipo de datos de cada columna

In [76]:
base.dtypes

ao_hechos               float64
mes_hechos               object
fecha_hechos             object
ao_inicio                 int64
mes_inicio               object
fecha_inicio             object
delito                   object
fiscalia                 object
agencia                  object
unidad_investigacion     object
categoria_delito         object
calle_hechos             object
calle_hechos2            object
colonia_hechos           object
alcaldia_hechos          object
competencia              object
longitud                float64
latitud                 float64
tempo                   float64
dtype: object

3. Ver la distribución de los datos númericos para ver si existen valores extremos y ver cual es su mediana, promedio desviación. Tambien deberiamos ver la cantidad de datos

In [77]:
base.describe()

          ao_hechos     ao_inicio      longitud       latitud  tempo
count  1.306767e+06  1.307211e+06  1.253509e+06  1.253509e+06    0.0
mean   2.018268e+03  2.018419e+03 -9.913722e+01  1.938718e+01    NaN
std    1.914601e+00  1.612246e+00  6.000810e-02  7.006171e-02    NaN
min    1.906000e+03  2.016000e+03 -1.002319e+02  1.909535e+01    NaN
25%    2.017000e+03  2.017000e+03 -9.917561e+01  1.933937e+01    NaN
50%    2.018000e+03  2.018000e+03 -9.914208e+01  1.938967e+01    NaN
75%    2.020000e+03  2.020000e+03 -9.909959e+01  1.943776e+01    NaN
max    2.021000e+03  2.021000e+03 -9.894686e+01  1.958333e+01    NaN

4. Las columnas que son string ver cuales son los valores únicos de cada columna

In [78]:
def contar_valores_unicos(base, lista_columnas):
    for col in lista_columnas:
        columna = pd.unique(base[col]).shape[0]
        print('La columna {} tiene {} valores unicos'.format(str(col), str(columna)))

lista_columnas = ['mes_inicio', 'fecha_inicio', 'delito', 'fiscalia', 'agencia', 'unidad_investigacion',   
                  'categoria_delito', 'calle_hechos', 'calle_hechos2', 'colonia_hechos', 'alcaldia_hechos',          
                  'competencia']
contar_valores_unicos(base, lista_columnas=lista_columnas)

La columna mes_inicio tiene 12 valores unicos
La columna fecha_inicio tiene 1214486 valores unicos
La columna delito tiene 345 valores unicos
La columna fiscalia tiene 74 valores unicos
La columna agencia tiene 209 valores unicos
La columna unidad_investigacion tiene 130 valores unicos
La columna categoria_delito tiene 18 valores unicos
La columna calle_hechos tiene 267137 valores unicos
La columna calle_hechos2 tiene 118254 valores unicos
La columna colonia_hechos tiene 1666 valores unicos
La columna alcaldia_hechos tiene 558 valores unicos
La columna competencia tiene 4 valores unicos

Podemos ver que aparte de la fecha de inicio, calle_hechos y calle_hechos2 las columnas tienen pocos valores únicos, por lo tanto podemos deducir que están bien catalogados

### Determinar los delitos que van al alza o a la baja

In [95]:
base_hechos = base.groupby(['ao_hechos' ,'delito']).count().reset_index()[['ao_hechos', 'delito', 'categoria_delito']]

base_anterior = base_hechos[(base_hechos['ao_hechos'] >= 2018) & (base_hechos['ao_hechos'] < 2020)].groupby(['delito'])[['categoria_delito']].sum().reset_index()
base_posterior = base_hechos[(base_hechos['ao_hechos'] <= 2021) & (base_hechos['ao_hechos'] >= 2020)].groupby(['delito'])[['categoria_delito']].sum().reset_index()
base_anterior.columns = ['delito', 'delito_2018_2019']
base_posterior.columns = ['delito', 'delito_2020_2021']
base_hechos = pd.merge(base_anterior, base_posterior, on=['delito'])
base_hechos['ratio'] =  base_hechos['delito_2020_2021']/base_hechos['delito_2018_2019']
base_hechos = base_hechos.sort_values(['ratio'])

Los delitos que van al alza son los siguientes

In [96]:
base_hechos.tail()

,delito,delito_2018_2019,delito_2020_2021,ratio
145,RETENCIÓN DE MENORES,7,410,58.571429
155,ROBO A NEGOCIO SIN VIOLENCIA POR FARDEROS (TIE...,27,1611,59.666667
237,"ROBO S/V DENTRO DE NEGOCIOS, AUTOSERVICIOS, CO...",13,1610,123.846154
152,ROBO A NEGOCIO CON VIOLENCIA POR FARDEROS (TIE...,6,1577,262.833333
154,ROBO A NEGOCIO SIN VIOLENCIA POR FARDEROS (TIE...,28,10230,365.357143

Los delitos que van al alza son los siguientes

In [97]:
base_hechos.head()

,delito,delito_2018_2019,delito_2020_2021,ratio
49,DENUNCIA DE HECHOS,8465,21,0.002481
192,ROBO A TRANSEUNTE DE CELULAR CON VIOLENCIA,2145,7,0.003263
172,ROBO A PASAJERO EN ECOBUS CON VIOLENCIA,22,1,0.045455
193,ROBO A TRANSEUNTE DE CELULAR SIN VIOLENCIA,2205,113,0.051247
76,HOMICIDIO CULPOSO,53,3,0.056604

### Determinar la alcaldia que tiene mas delitos y la de menos

In [103]:
base_alcaldia = base.groupby(['alcaldia_hechos']).count().reset_index()[['alcaldia_hechos','ao_hechos']]
base_alcaldia.sort_values(['ao_hechos'], ascending=False)

          alcaldia_hechos  ao_hechos
142            CUAUHTEMOC     203350
221            IZTAPALAPA     196100
186      GUSTAVO A MADERO     131281
70          BENITO JUAREZ     107496
30         ALVARO OBREGON      88911
..                    ...        ...
382  SAN MIGUEL TOTOLAPAN          1
383     SAN MIGUEL XOXTLA          1
385   SAN PABLO DEL MONTE          1
386      SAN PEDRO ATOYAC          1
0                   ABALA          1

[557 rows x 2 columns]

### Existe una estacionalidad en los delitos

In [108]:
base_mes = base.groupby(['mes_hechos']).count().reset_index()[['mes_hechos', 'delito']].sort_values(by=['delito'], ascending=False)
base_mes

    mes_hechos  delito
7        Marzo  118850
1       Agosto  115934
8         Mayo  114275
3        Enero  111719
5        Julio  111562
11  Septiembre  111021
4      Febrero  110276
6        Junio  109977
0        Abril  107191
10     Octubre  103502
9    Noviembre   97846
2    Diciembre   94614